## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,76.59,broken clouds,9.4942,50.8122,JABIR HOTEL
1,Rikitea,PF,72.82,scattered clouds,-23.1203,-134.9692,People ThankYou
2,Komsomolskiy,UZ,74.12,clear sky,40.4272,71.7189,Ikathouse
3,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Georgetown,MY,79.90,overcast clouds,5.4112,100.3354,Cititel Penang

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
vacation_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
vacation_cities_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,76.59,broken clouds,9.4942,50.8122,JABIR HOTEL
1,Rikitea,PF,72.82,scattered clouds,-23.1203,-134.9692,People ThankYou
2,Komsomolskiy,UZ,74.12,clear sky,40.4272,71.7189,Ikathouse
3,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Georgetown,MY,79.90,overcast clouds,5.4112,100.3354,Cititel Penang
5,Bambous Virieux,MU,70.05,light rain,-20.3428,57.7575,Casa Tia Villa
6,Amuntai,ID,70.68,overcast clouds,-2.4177,115.2494,Hotel Balqis
7,Kapaa,US,83.48,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Butaritari,KI,81.45,light rain,3.0707,172.7902,Isles Sunset Lodge
9,Mar Del Plata,AR,71.62,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [5]:
# 4a. Determine if there are any empty rows.
vacation_cities_df.count()

City                   285
Country                285
Max Temp               285
Current Description    285
Lat                    285
Lng                    285
Hotel Name             264
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,76.59,broken clouds,9.4942,50.8122,
1,Rikitea,PF,72.82,scattered clouds,-23.1203,-134.9692,
2,Komsomolskiy,UZ,74.12,clear sky,40.4272,71.7189,
3,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,
4,Georgetown,MY,79.90,overcast clouds,5.4112,100.3354,
5,Bambous Virieux,MU,70.05,light rain,-20.3428,57.7575,
6,Amuntai,ID,70.68,overcast clouds,-2.4177,115.2494,
7,Kapaa,US,83.48,scattered clouds,22.0752,-159.3190,
8,Butaritari,KI,81.45,light rain,3.0707,172.7902,
9,Mar Del Plata,AR,71.62,clear sky,-38.0023,-57.5575,

In [7]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].dropna
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,76.59,broken clouds,9.4942,50.8122,JABIR HOTEL
1,Rikitea,PF,72.82,scattered clouds,-23.1203,-134.9692,People ThankYou
2,Komsomolskiy,UZ,74.12,clear sky,40.4272,71.7189,Ikathouse
3,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Georgetown,MY,79.90,overcast clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
280,Puerto Asis,CO,79.81,broken clouds,0.5133,-76.5007,Ayawaska Hostal
281,Galle,LK,77.16,overcast clouds,6.0367,80.2170,Amangalla
282,Rabo De Peixe,PT,71.11,few clouds,37.8000,-25.5833,Quinta das Giestas
283,Tomatlan,MX,80.89,overcast clouds,19.9333,-105.2500,El Salvial
284,Tateyama,JP,77.09,clear sky,34.9833,139.8667,Tateyama Seaside Hotel

In [15]:
# 8a. Create the output File (CSV)
hotel_df.to_csv("Weather_Database/WeatherPy_vacation.csv",index=False)
# 8b. Export the City_Data into a csvcity_data_df.to_csv("Weather_Database/WeatherPy_Database.csv",index=False)city_data_df.to_csv("Weather_Database/WeatherPy_Database.csv",index=False)hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [17]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))